<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Homepage</title>
</head>

<body>
  <%- include('./partials/nav') %>
    <% if (locals.blogs) { %>
      <div class="container mt-4">
        <div class="row">
          <% blogs.forEach(element=> { %>
            <div class="col-md-3 mb-4">
              <div class="card" style="width: 100%;">
                <img src="<%= element.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= element.title %>
                  </h5>
                  <p class="card-text">
                    <%= element.body %>
                  </p>
                  <a href="/blog/<%= element._id %>" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>

      <% } %>


        <%- include('./partials/script') %>
</body>

</html>